*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f5f8fa;
}
button{
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
}

h1{
    margin-bottom: 2rem;
}



.tweet-row{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

.tweet-row input{
    flex: 5;
    padding: 0.8rem;
}
.tweet-row button{
    padding: 0.8rem 1.5rem;
    background-color: #1DA1F2;
    border: none;
    cursor: pointer;
    flex:1
}
.main-button {
    padding: 0.8rem 4rem;
}

.posts-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}
.post{
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 7px 7px 2px rgba(0,0,0,0.2);

}
.post .post-text{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.comments-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0.7rem;
}
.comments-container .comment-container{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.comment-container .delete-comment-button {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    padding: 0.3rem;
    font-weight: bold;
}

.comment-input-row {
    display: flex;
    gap: 0.3rem;
    margin: 0.5rem;
}
.comment-input {
    padding: 0.5rem;
}
.comment-input-row .add-comment-button{
    background-color: #1DA1F2;
    padding: 0.3rem 0.7rem;
    border: none;
    cursor: pointer;
}
.delete-post-button {
    background-color: rgb(253, 52, 52);
    color: white;
    padding: 0.4rem 0.6rem;
    border: none;  
}